{% extends "../index.html" %}

{% block content %}


<div class="right_col" role="main" >
    {% if messages %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toastSuccess" class="toast align-items-center text-bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var toast = new bootstrap.Toast(document.getElementById("toastSuccess"));
            toast.show();
        });
    </script>
{% endif %}
    <h2 class="mb-4">Subida de Documentos - Modalidad 1</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="carrera" class="form-label">Selecciona tu Carrera:</label>
            <select class="form-control" name="carrera" required 
                {% if estudiante and estudiante.estado_carrera != 'corregir' %}disabled{% endif %}>
                <option value="Derecho" {% if estudiante.carrera == "Derecho" %}selected{% endif %}>Derecho</option>
                <option value="Ing. Sistemas" {% if estudiante.carrera == "Ing. Sistemas" %}selected{% endif %}>Ing. Sistemas</option>
                <option value="Agronomía" {% if estudiante.carrera == "Agronomía" %}selected{% endif %}>Agronomía</option>
                <option value="Veterinaria" {% if estudiante.carrera == "Veterinaria" %}selected{% endif %}>Veterinaria</option>
            </select>
        
            {% if estudiante.estado_carrera == "pendiente" %}
                <i class="fa fa-hourglass-half text-warning" aria-hidden="true"> Pendiente a revisión</i>
            {% elif estudiante.estado_carrera == "aprobado" %}
                <i class="fa fa-check-circle text-success" aria-hidden="true"> Aprobado</i>
            {% elif estudiante.estado_carrera == "corregir" %}
                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"> Requiere corrección</i>
            {% endif %}
        </div>
        

        <div class="mb-3">
            <label class="form-label">DNI</label>
            
            <!-- {% if estudiante.dni_1 %}
                <a href="{{ estudiante.dni_1.url }}" target="_blank">Ver Archivo</a>
            {% endif %} -->
        
            <input type="file" name="dni_1" class="form-control" required 
                {% if estudiante and estudiante.estado_dni_1 != 'corregir' %}disabled{% endif %}>
            
  
                {% if estudiante.estado_dni_1 == "pendiente" %}
                    <i class="fa fa-hourglass-half text-warning"> Pendiente a revisión</i>
                {% elif estudiante.estado_dni_1 == "aprobado" %}
                    <i class="fa fa-check-circle text-success"> Aprobado</i>
                {% elif estudiante.estado_dni_1 == "corregir" %}
                    <i class="fa fa-exclamation-circle text-danger"> Requiere corrección</i>
                {% endif %}
       
        </div>
        


        <!-- <div class="mb-3">
            <label class="form-label">Tesis</label>
            <input type="file" name="tesis" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Copia de Bachiller</label>
            <input type="file" name="copia_bachiller_1" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Declaración Jurada (Opcional)</label>
            <input type="file" name="declaracion_jurada" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Boucher de Pago</label>
            <input type="file" name="boucher_pago_1" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Solicitud</label>
            <input type="file" name="solicitud_1" class="form-control" required>
        </div> -->
        <!-- <div class="mt-3">
            <h5>Estado de tus documentos:</h5>
            <div class="progress">
                <div class="progress-bar 
                    {% if documento.estado == 'pendiente' %} bg-warning 
                    {% elif documento.estado == 'corregir' %} bg-danger 
                    {% elif documento.estado == 'aprobado' %} bg-success 
                    {% endif %}" 
                    role="progressbar"
                    style="width: 
                        {% if documento.estado == 'pendiente' %} 33% 
                        {% elif documento.estado == 'corregir' %} 66% 
                        {% elif documento.estado == 'aprobado' %} 100% 
                        {% endif %};">
                    {% if documento.estado == 'pendiente' %}
                        ⏳ Pendiente de revisión
                    {% elif documento.estado == 'corregir' %}
                        ❌ Necesita corrección
                    {% elif documento.estado == 'aprobado' %}
                        ✅ Aprobado
                    {% endif %}
                </div>
            </div>
        </div> -->


        <button type="submit" class="btn btn-primary">Subir Documentos</button>
   
        
        

    </form>
    
</div>


{% endblock %}
