{% extends 'index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" style="display: inline-block;" >
            <h2>Subida de documentos - Modalidad 2</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="dni" class="form-label">DNI:</label>
            <input type="file" class="form-control" name="dni" required>
        </div>

        <div class="mb-3">
            <label for="pago" class="form-label">Pago:</label>
            <input type="file" class="form-control" name="pago" required>
        </div>

        <div class="mb-3">
            <label for="tesis" class="form-label">Tesis:</label>
            <input type="file" class="form-control" name="tesis" required>
        </div>

        <div class="mb-3">
            <label for="copia_bachiller_1" class="form-label">Copia Bachiller - Estudiante 1:</label>
            <input type="file" class="form-control" name="copia_bachiller_1" required>
        </div>

        <div class="mb-3">
            <label for="copia_bachiller_2" class="form-label">Copia Bachiller - Estudiante 2:</label>
            <input type="file" class="form-control" name="copia_bachiller_2" required>
        </div>

        <div class="mb-3">
            <label for="boucher_pago_1" class="form-label">Boucher de Pago - Estudiante 1:</label>
            <input type="file" class="form-control" name="boucher_pago_1" required>
        </div>

        <div class="mb-3">
            <label for="boucher_pago_2" class="form-label">Boucher de Pago - Estudiante 2:</label>
            <input type="file" class="form-control" name="boucher_pago_2" required>
        </div>

        <button type="submit" class="btn btn-primary">Subir Documentos</button>
    </form>

          </div>
        </div>
        <!-- /page content -->
{% endblock %}